.about-us__list {
  @include list-reset;
}

.about-us__icon {
  & svg {
    fill: #63d1bb;
  }
}
.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.about-us__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}
@media (min-width: $tablet-width) {
  .about-us__list {
    display: flex;
    flex-direction: row;
  }
  .about-us__col-left {
    width: 334px;
  }
  .about-uf__col-right {
    width: 334px;
  }
}
