.contacts__list {
  @include list-reset
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.contacts__desc {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.contacts__text {
  @include link-reset;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  &--mail {
    border-bottom: 1px solid #62d1ba;
    height: 30px;
  }
}
.contacts__item {
  display: flex;
  // justify-content: space-between;
}
.contacts__map {
  display: block;
  margin: 0 auto;
}
@media (min-width: $tablet-width) {
  .contacts__list {
    display: flex;
  }
  .contacts__item {
    width: 334px;
    display: flex;
  }
  .contacts__text {
    display: block;
  }
  .contacts__desc {
    width: 70px;
  }
  .contacts__map {
    width: 764px;
    margin: 0 auto;

  }
}
