.developed {
  min-height: 79px;
  width: 260px;
  border-top: 1px solid #e5e5e5;
}

.developed__title {
  @include link-reset;
  display: block;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: #444444;
  cursor: pointer;
  position: relative;
  padding-top: 30px;
  padding-left: 29px;

  span {
    position: absolute;
    top: 21px;
    right: 41px;
  }

  &:active {
    color: #bfbfbf;
  }

  svg {
    fill: #63d1bb;
    width: 40px;
    height: 40px;
  }
}

.developed__title:hover>span svg {
  fill: #46c1ae;
}

.developed__title:active>span svg {
  fill: #bde3dd;
}

@media (min-width: $tablet-width) {
  .developed {
    border-top: none;
  }
  .developed__title {
    padding-top: 32px;
    padding-left: 19px;

    span {
      top: 22px;
      right: 48px;
    }
  }

}

@media (min-width: $desktop-width) {
  .developed__title {

    span {
      top: 25px;
      right: 28px;
    }
  }

}
