
.feedback__slider-list {
  @include list-reset
}
.feedback__title {
  margin: 0;
  padding-top: 55px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.feedback__text {
  margin: 0;
  padding-top: 25px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.feedback__author {
  margin: 0;
  padding-top: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.feedback__author-mail {
  margin-top: 5px;
  display: block;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}
.feedback__btn-wrap {
  margin-top: 34px;
}
.feedback__write-btn {
  display: block;
  margin-top: 36px;
}
.feedback__slider-list {
  display: flex;
  margin-top: 31px;
}
.feedback__slider-btn {
  @include button-reset;
  width: 130px;
  border: 1px solid #ececec;
  height: 50px;
  cursor: pointer;
  &:hover>svg {
    fill: #666666;
  }
  &:active>svg {
    fill: #b2b2b2;
  }
}

@media (min-width: $tablet-width) {
.feedback {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/review@1x.jpg);
  background-repeat: no-repeat;
  min-height: 460px;
 }
 .feedback__title {
  order: 1;
 }
 .feedback__write-btn {
  order: 2;
 }
 .feedback__text {
  order: 3;
  overflow: auto;
  // min-height: 200px;
 }
 .feedback__author-wrap {
  order: 4;
 }
 .feedback__slider-list {
  order: 5;
 }
}
