.form__list {
  @include list-reset;
}

.form__color-list {
  @include list-reset;
}

.form__names-list {
  @include list-reset;
}

.form__type-list {
  @include list-reset;
}
.form__legend-wrap {
  outline: none;
}
.form__legend {
  outline: none;
  margin-top: 16px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
  padding-right: 23px;
  white-space: nowrap;
  position: relative;
   &:after {
    content: "";
  width: 220px;
  height: 2px;
  margin-top: 7px;
  left: 52px;
  background-color: #62d1ba;
  position: absolute;
  overflow: hidden;
   }
   &--names:after {
    width: 201px;
    left: 61px;
   }
   &--tel:after {
    width: 199px;
    left: 62px;
   }
   &--mail:after {
    width: 181px;
    left: 79px;
   }
   &--aditional:after {
    width: 198px;
    left: 62px;
   }
}

.form__text {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form__item--type {
  min-heigh: 173px;
  outline: none;
}

.form__item--color {
  min-height: 417px;
  outline: none;
}

.form__item--names {
  min-height: 330px;
  outline: none;
}

.form__item--contacts {
  min-height: 213px;
  outline: none;
}

.fomr__item--textarea {
  min-height: 188px;
  outline: none;
}

.form__color-item {
  min-height: 50px;
}

.form__input {
  display: block;
  width: 260px;
  border: none;
  border-bottom: 2px solid #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:focus {
    border-bottom: 2px solid #62d1ba;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #d5d5d5;
  }
}

.form__names-list {
  padding-top: 11px;
}

.form__names-item {
  min-height: 92px;
}

.form__text-decor {
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 25px;
  background-color: #62d1ba;
  display: none;
}

.form__legend-wrap {
  display: flex;
  margin-top: 6px;

  &--names {
    margin-top: 0;
  }

  &--contacts {
    margin-top: 0;
  }

  &--email {
    margin-top: 13px;
  }

  &--textarea {
    margin-top: 0;
    margin-bottom: 10px;
    }
  }


.form__input--contacts {
  padding-top: 8px;
  outline: none;
}

.form__radio {
  display: none;
}

.form__type-list {
  padding-left: 60px;
  min-height: 120px;
}
.form__names-list {
  height: 268px;
}
.form__type-item {
  padding-top: 21px;
  position: relative;
}

.form__text--radio {
  &:before {
    content: "";
    width: 38px;
    height: 38px;
    border: 2px solid #444444;
    border-radius: 50%;
    position: absolute;
    left: -60px;
    top: 15px;
  }
}

.form__text--radio:hover {
  &:before {
    border: 2px solid #62d1ba;
  }
}

.form__radio:checked~.form__text:after {
  content: "";
  width: 17px;
  height: 17px;
  background-color: #62d1ba;
  border-radius: 50%;
  position: absolute;
  left: -49px;
  top: 25px;
}

.form__color-list {
  padding-left: 60px;
  padding-top: 20px;
  min-height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 371px;
}

.form__color-item {
  min-height: 60px;
}

.form__checkbox {
  display: none;
}

.form__color-item {
  position: relative;
}

.form__text {
  &--checkbox:before {
    content: "";
    width: 39px;
    height: 39px;
    border: 2px solid #444444;
    position: absolute;
    left: -59px;
    top: -10px;
  }

  &--checkbox:hover:before {
    content: "";
    border: 2px solid #62d1ba;
  }
}

.form__checkbox:checked~.form__text:after {
  content: "";
  background-image: url(../img/icon-tick.svg);
  background-repeat: no-repeat;
  width: 33px;
  height: 25px;
  position: absolute;
  left: -56px;
  top: -5px;
}

.form__textarea {
  width: 260px;
  height: 140px;
  border: 2px solid #444444;

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }

  &::placeholder {
    padding-left: 10px;
    padding-top: 10px;
    width: 165px;
    font-size: 17px;
    font-weight: 18px;
  }
  .form__submit-wrap {
    outline: none
  }
}

.form__input--tel {
    margin-top: 13px;
  }

  .form__legend--mail {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .form__legend--aditional {
    margin-bottom: 16px;
  }
@media (min-width: $tablet-width) {
  .form__item {
    display: flex;
    position: relative;
    outline: none;
  }
.form__item--color {
  height: 306px;
}

  .form__legend {
    width: 167px;
    padding: 0;
    position: relative;
    z-index: 20;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    &:after {
   display: none;
  }
}
  .form__text {
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
  }

  .form__text-decor {
    display: none;
  }

  .form__input {
    outline: none;
    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }

  .form__color-item {
    width: 250px;
    padding: 0;
  }

  .form__names-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
  }

  .form__names-item {
    display: flex;
    width: 500px;

    & .form__text {
      display: block;
      padding-top: 20px;
      padding-right: 20px;
    }

    & .form__input {
      height: 50px;
      width: 100%;
    }
  }

  .form__item--contacts {
    flex-direction: column;
  }

  .form__phone-mail {
    display: flex;
    margin-bottom: 50px;
  }

  .form__input--contacts {
    display: block;
    width: 501px;
    background-color: #f1f1f1;

    &::placeholder {
      background-color: #f1f1f1;
    }
  }

  .form__textarea {
    width: 501px;
  }

  .form__submit-wrap {
    display: flex;
    flex-direction: row-reverse;
  }

  .form__item--type {
    min-height: 233px;
    padding-top: 53px;
  }

  .form__type-list {
    padding-left: 79px;
  }

  .form__type-item {
    margin-bottom: 34px;
  }

  .form__text--radio {
    &:before {
      width: 50px;
      height: 50px;
      left: -79px;
      top: 5px;
    }
  }

  .form__text--radio:hover {
    &:before {
      border: 2px solid #62d1ba;
    }

    &:after {
      width: 20px;
      height: 20px;
      left: -65px;
      top: 20px;
    }
  }

  .form__radio:checked~.form__text:after {
    width: 20px;
    height: 20px;
    left: -65px;
    top: 20px;
  }

  .form__legend-wrap--color {
    margin: 0;
    min-height: 304px;
    padding-top: 69px;
  }

  .form__item--color {
    margin: 0;
    padding: 0;
    min-height: 304px;
  }

  .form__color-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
       justify-content: space-between;
    width: 500px;
    position: relative;
    z-index: 20;
   padding-top: 66px;
   padding-bottom: 74px;
padding-left: 0;

  }

  .form__color-item {
    margin: 0;
    padding: 0;
    width: 240px;
    min-height: 52px;
    padding-left: 83px;
    padding-top: 0;
  }

  .form__legend--color {
    margin: 0;
    padding: 0;
  }

  .form__text {
    &--checkbox:before {
      width: 50px;
      height: 50px;
      left: 3px;
      top: -16px;
    }

    &--checkbox:hover:after {
      width: 25px;
      height: 30px;
      left: 13px;
      top: -1px;
    }
  }

  .form__checkbox:checked~.form__text:after {
    width: 33px;
    height: 30px;
    left: 13px;
    top: -1px;
  }

  .form__item--names {
    min-height: 305px;
  }

  .form__legend--names {
    padding-top: 53px;
  }

  .form__names-list {
    padding-top: 0;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 9px;
  }

  .form__names-item {
    min-height: 60px;
  }

  .form__item--contacts {
    min-height: 229px;
    display: flex;
    flex-direction: column;
    padding-top: 54px;
  }

  .form__phone-mail {
    margin: 0;
  }

  .form__phone-mail--phone {
    min-height: 50px;
  }

  .form__input--tel {
    padding-left: 18px;
  }

  .form__input--mail {
    padding-top: 21px;
    padding-left: 16px;
  }

  .form__phone-mail--mail {
    min-height: 60px;
    margin-top: 11px;
  }

  .form__legend--aditional {
    padding-top: 51px;
  }

  .form__textarea {
    margin-top: 50px;
    margin-bottom: 27px;
    padding: 0;
    padding-top: 10px;
    padding-left: 10px;
    &::placeholder {
      padding: 0;
      width: 350px;
    }
  }
  .form__submit-wrap {
    outline: none
  }
  .form__input--names {
    padding-top: 20px;
    padding-left: 23px;
  }
}

@media (min-width: $desktop-width) {
  .form__text {
    font-size: 19px;
    line-height: 18px;
  }

  .form__legend {
    padding-left: 63px;
  }

  .form__type-list {
    padding-left: 86px;
  }

  .form__item--color {
    height: 229px;
  }

  .form__color-list {
    width: 780px;
    min-height: 229px;
    justify-content: space-between;
    padding-bottom: 148px;
    padding-top: 66px;
    padding-left: 7px;
  }

  .form__names-list {
    width: 771px;
  }

  .form__names-item {
    width: 706px;
  }

  .form__legend-wrap--color {
    min-height: 229px;
  }

  .form__color-item {
    width: 241px;
    height: 50px;
  }

  .form__textarea {
    width: 700px;
    margin-left: 10px;

    &::placeholder {
      width: 400px;
      font-size: 19px;
    }
  }

  .form__input--contacts {
    width: 710px;
  }
  .form__submit-wrap {
    outline: none
  }
  .form__legend--names {
    margin-right: 10px;
  }
  .form__legend--mail {
    margin-top: 12px;
  }
  .form__input--tel {
    margin-top: 7px;
  }
  .form__input--mail {
        padding-left: 24px;
  }
}
