.item-link__title {
  @include link-reset;
  display: block;
  min-height: 104px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
    & p {
      margin: 0;
      width: 130px;
      display: inline-block;
      vertical-align: middle;
      padding-left: 30px;
    }
    &--light {
      background-color: #63d1bb;
    }
    &--lego {
      background-color: #56c3b2;
    }
    & svg {
      fill: #35a999;
    }
}

.item-link__icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 100px;
}
