.main-footer {
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $tablet-width;
  margin: 0 auto;
}
}
