.main-footer {
  background-color: #f1f1f1;
}

.main-footer__social {
  padding-top: 25px;
  margin: 0 auto;
  width: 201px;
}

.main-footer__developed {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $tablet-width;
    margin: 0 auto;
    min-height: 143px;
  }

  .main-footer__logo {
    margin-top: 50px;
    margin-left: 50px;

    &:hover {
      svg {
        fill: #46c1ae;
      }
    }

    &:active {
      svg {
        fill: #bde3dd;
      }
    }
  }

  .main-footer__social {
    margin-top: 31px;
    margin-left: 127px;
  }

  .main-footer__developed {
    margin-top: 28px;
    margin-left: 34px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    width: 1050px;
    margin: 0 auto;
  }

  .main-footer__logo {
    margin-top: 50px;
    margin-left: 0;
  }

  .main-footer__social {
    margin-top: 28px;
    margin-left: 319px;
  }

  .main-footer__developed {
    margin-top: 28px;
    margin-left: 234px;
  }
}
