.manufacture {
  border: 1px solid #ececec;
  height: 504px;
}

.manufacture__title {
  margin: 0;
  padding-top: 23px;
  padding-left: 88px;
  padding-bottom: 24px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  width: 140px;
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/icon-camera.png");
    position: absolute;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    left: 31px;
    top: 29px;
  }
}

.manufacture__desc {
  margin: 0;
  padding-top: 23px;
  padding-left: 33px;
  padding-bottom: 23px;
  width: 223px;
  font-size: 13px;
  line-height: 24px;
}

.manufacture__movie-wrap {
  position: relative;
}

.manufacture__play-btn {
  @include button-reset;
  cursor: pointer;
  position: absolute;
  top: 25%;
  left: 31%;

  svg {
    fill: #63d1bb;
  }

  &:hover svg {
    transform: scale(1.2);
  }

  &:active svg {
    transform: scale(0.8);
    fill: #d0f1ea;
  }
}

.manufacture__btn {
  display: block;
  width: 190px;
  margin-left: 33px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .manufacture {
    display: flex;
    flex-direction: column;
    margin-bottom: 74px;
    height: 731px;
  }

  .manufacture__movie-wrap {
    order: 1;
  }

  .manufacture__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    order: 2;
    min-width: 380px;
    padding-left: 106px;
    padding-top: 35px;

    &::before {
      left: 41px;
      top: 34px;
    }
  }

  .manufacture__desc {
    order: 3;
    font-size: 15px;
    line-height: 30px;
    width: 668px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
  }

  .manufacture__btn {
    order: 4;
    width: 583px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .manufacture__play-btn {
    @include button-reset;
    cursor: pointer;
    position: absolute;
    top: 41%;
    left: 43%;

   svg {
    fill: #63d1bb;
  }

  &:hover svg {
    transform: scale(1.2);
  }

  &:active svg {
    transform: scale(0.8);
    fill: #d0f1ea;
  }
}
}

@media (min-width: $desktop-width) {
  .manufacture {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 456px;
    margin-bottom: 106px;
    margin-top: 4px;
  }

  .manufacture__desc {
    width: 246px;
    padding-left: 18px;
    padding-right: 0;
    padding-top: 8px;
  }

  .manufacture__btn {
    order: 4;
    width: 230px;
    margin-top: 25px;
    margin-left: 18px;
    margin-right: 0;
  }

  .manufacture__title {
    min-width: 165px;
    padding-left: 17px;
    padding-top: 95px;

    &::before {
      left: 19px;
      top: 47px;
    }
  }

  .manufacture__img {
    width: 682px;
    height: 455px;
  }

  .manufacture__play-btn {
    top: 41%;
    left: 39%;

    svg {
    fill: #63d1bb;
  }

  &:hover svg {
    transform: scale(1.2);
  }

  &:active svg {
    transform: scale(0.8);
    fill: #d0f1ea;
  }
}
}
