.manufacture {
  border: 1px solid #ececec;
  min-height: 504px;
}
.manufacture__title {
margin: 0;
padding-top: 23px;
padding-left: 88px;
padding-bottom: 24px;
font-size: 17px;
line-height: 24px;
font-weight: bold;
width: 140px;
position: relative;
  &:before {
    content: "";
    background-image: url(../img/icon-camera.png);
    position: absolute;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    left: 20px;
    top: 20px;
  }
}
.manufacture__desc {
  margin: 0;
  padding-top: 23px;
  padding-left: 33px;
  padding-bottom: 23px;
  width: 223px;
  font-size: 13px;
  line-height: 24px;
}
.manufacture__movie-wrap {
  position: relative;
}
.manufacture__play-btn {
  @include button-reset;
  cursor: pointer;
  position: absolute;
  top: 25%;
  left: 31%;
  & svg {
    fill: #63D1BB;
  }
  &:hover {
    top: 27%;
    left: 29%;
  }
  &:hover svg {
    width: 110px;
    height: 90px;
  }
  &:active {
    top: 22%;
    left: 35%;
  }
  &:active svg {
    width: 80px;
    height: 75px;
    fill: #d0f1ea;
  }
}

.manufacture__btn {
  display: block;
  width: 190px;
  margin-left: 33px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .manufacture {
    display: flex;
    flex-direction: column;
  }
  .manufacture__movie-wrap {
    order: 1;
  }
  .manufacture__title {
    order: 2;
  }
.manufacture__desc {
  order: 3;
}
.manufacture__btn {
  order: 4;
}
}
