.order-form__obligatorily {
  font-size: 14px;
  line-height: 16px;
}
.order-form__submit {
  display: block;
  margin-top: 29px;
  margin-bottom: 56px;
}
@media (min-width: $tablet-width) {
.order-form__obligatorily {
  font-size: 17px;
  line-height: 30px;
}
}
@media (min-width: $desktop-width) {

  }
