.order-form__obligatorily {
  font-size: 14px;
  line-height: 16px;
}

.order-form__submit {
  display: block;
  margin-top: 29px;
  margin-bottom: 56px;
}

@media (min-width: $tablet-width) {
  .order-form__obligatorily {
    font-size: 17px;
    line-height: 30px;
    padding-top: 20px;
  }

  .order-form__submit {
    display: block;
    margin-right: 135px;
    width: 230px;
    margin-bottom: 49px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__submit {
    margin-top: 24px;
    margin-right: 170px;
    margin-bottom: 47px;
  }

  .order-form__obligatorily {
    padding-right: 171px;
    padding-top: 15px;
  }
}
