.social {
  width: 208px;
  height: 80px;
}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: space-around;
  width: 183px;
  padding-right: 2px;
  .social__item:nth-of-type(1) {
    padding-top: 7px;
  }
  .social__item:nth-of-type(3) {
    padding-top: 6px;
  }
}

.social__logo {
  &:hover > svg {
    fill: #46c1ae;
  }

  &:active > svg {
    fill: #bde3dd;
  }
}

@media (min-width: $tablet-width) {

}
