.social {
  width: 208px;
  height: 80px;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: space-around;
  width: 190px;
}

.social__logo {
  &:hover > svg {
    fill: #46c1ae;
  }

  &:active > svg {
    fill: #bde3dd;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border-bottom: none;
  }
}
