.subject {
  overflow: hidden;
  min-height: 284px;
}
.subject__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  position: relative;
  z-index: 20;
}
.subject__img {
  display: block;
  margin-left: -120px;
  margin-top: -175px;
  position: relative;
  z-index: 10;
}

@media (min-width: $tablet-width) {
    .subject__img {
      width: 1150px;
      height: 746px;
      margin-left:-250px;
    }
    .subject {
      height: 600px;
    }
}
