*:focus {
  outline: 1px solid #62d1ba;
}

body {
  font-family: $font;
  color: $base-color;
  background-color: $background;
  text-align: left;
  overflow-y: visible;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0px;
  border: 0px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
