@mixin mfont-article {
  font-size: 14px;
  line-height: 24px;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin list-reset {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

@mixin button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

@mixin padding-mobile {
  padding-right: 20px;
  padding-left: 20px;
}

@mixin not-visually-hidden {
  position: static;
  clip: auto;
  clip: auto;
  overflow: auto;
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0px;
  border: 0px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}
