$font: "Open Sans", arial, "sans-serif";
$base-color: #283645;
$background: #f2f2f2;
$background-small: #283645;
$main-image: url("../img/bg-back-mobile@1x.jpg");
$mobile-width: 320px;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$shadow1: 0 0 9px red;
$shadow2: 0 0 9px blue;
$shadow3: 0 0 9px green;
