$font: "Open Sans", arial, "sans-serif";
$base-color: #010000;
$background: #ffffff;
$background-small: #283645;
$main-image: url("../img/bg-back-mobile@1x.jpg");
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$shadow1: 0 0 9px red;
$shadow2: 0 0 9px blue;
$shadow3: 0 0 9px green;
